.cart-container {
position: absolute;
right: 20px;
top: 90px;
background: white;
padding: 20px;
width: 260px;
border-radius: 14px;
box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
from { opacity: 0; transform: translateY(-10px); }
to { opacity: 1; transform: translateY(0); }
}